extends ../../layout

block content
  div(id="adminBg")
    br
    include ../nav.jade
    br
    div(class="row")
      div(class="col-sm-12")
        div(class="container")
          h1 
          br
          table(class="table table-dark table-bordered table-hover table-condensed")
            tr
              th Name
              th Email
              th Youtube Link
              th Category
              th Message
              th Action
            each submit in submits
              tr
              td= submit.name
              td= submit.email
              td
                a(href=submit.link target="_blank") Show Video
              td= submit.category
              td= submit.message
              td
                span
                  div(class="btn btn-primary") Delete
  div(id="marg")